body {
	background: url('../image/tuni.jpg');
    background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#bloc {
	        	  
		  background: white  ;
		  color: black ;
		  position: absolute;
           right: 0;
		  width: 450px;
		  padding: 15px ;
		  border-radius: 20px ;
	    }
h1{

color: #00E5FF ;
font-size: 70px;
font-family: 'Lobster', cursive;
}
a{

   color: #00E5FF ;
   text-decoration: none ;

}